In [57]:
from utils import *
import pandas as pd

data = {
    "Bedroom.AbvGr": 3.0,
    "Bldg.Type": "1Fam",
    "Bsmt.Cond": "TA",
    "Bsmt.Exposure": "No",
    "Bsmt.Full.Bath": 0.0,
    "Bsmt.Half.Bath": 0.0,
    "Bsmt.Qual": "Gd",
    "Bsmt.Unf.SF": 763.0,
    "BsmtFin.SF.1": 0.0,
    "BsmtFin.SF.2": 0.0,
    "BsmtFin.Type.1": "Unf",
    "BsmtFin.Type.2": "Unf",
    "Central.Air": "Y",
    "Condition": "Norm",
    "Electrical": 4.0,
    "Enclosed.Porch": 0.0,
    "Exter.Cond": 4.0,
    "Exter.Qual": 3.0,
    "Exterior": "HdBoard",
    "Fence": 4.0,
    "Fireplaces": 1.0,
    "Foundation": "PConc",
    "Full.Bath": 2.0,
    "Functional": 7.0,
    "Garage.Age": 17.0,
    "Garage.Area": 440.0,
    "Garage.Cars": 2.0,
    "Garage.Finish": "Fin",
    "Garage.Type": "Attchd",
    "Gr.Liv.Area": 1655.0,
    "Half.Bath": 1.0,
    "HasAlley": False,
    "HasShed": False,
    "Heating.QC": 2.0,
    "House.Age": 17.0,
    "House.Style": "2Story",
    "Kitchen.AbvGr": 1.0,
    "Kitchen.Qual": 4.0,
    "Land.Contour": "Lvl",
    "Land.Slope": 0.0,
    "Lot.Area": 10000.0,
    "Lot.Config": "Corner",
    "Lot.Frontage": 75.0,
    "Lot.Shape": 0.0,
    "Low.Qual.Fin.SF": 0.0,
    "MS.SubClass": "60",
    "MS.Zoning": "RL",
    "Mas.Vnr.Area": 0.0,
    "Mas.Vnr.Type": "None",
    "Misc.Val": 0.0,
    "Mo.Sold": 4.0,
    "Neighborhood": "Gilbert",
    "Open.Porch.SF": 84.0,
    "Overall.Cond": 4.0,
    "Overall.Qual": 5.0,
    "Paved.Drive": 2.0,
    "Pool.Area": 0.0,
    "Remod.Age": 16.0,
    "Roof.Style": "Gable",
    "Sale.Condition": "Normal",
    "Sale.Type": "GroupedWD",
    "Screen.Porch": 0.0,
    "TotRms.AbvGrd": 7.0,
    "Total.Bsmt.SF": 763.0,
    "Wood.Deck.SF": 157.0,
    "X1st.Flr.SF": 763.0,
    "X2nd.Flr.SF": 892.0,
    "X3Ssn.Porch": 0.0,
    "Yr.Sold": 2010.0
}

df = pd.DataFrame([data])
df.shape

(1, 69)

In [58]:
raw, X, y = get_data()

In [59]:
teste = pd.DataFrame([data])
teste

,Bedroom.AbvGr,Bldg.Type,Bsmt.Cond,Bsmt.Exposure,Bsmt.Full.Bath,Bsmt.Half.Bath,Bsmt.Qual,Bsmt.Unf.SF,BsmtFin.SF.1,BsmtFin.SF.2,...,Sale.Condition,Sale.Type,Screen.Porch,TotRms.AbvGrd,Total.Bsmt.SF,Wood.Deck.SF,X1st.Flr.SF,X2nd.Flr.SF,X3Ssn.Porch,Yr.Sold
0,3.0,1Fam,TA,No,0.0,0.0,Gd,763.0,0.0,0.0,...,Normal,GroupedWD,0.0,7.0,763.0,157.0,763.0,892.0,0.0,2010.0

In [60]:
feature_engineering(raw)

,MS.SubClass_160,MS.SubClass_190,MS.SubClass_20,MS.SubClass_30,MS.SubClass_50,MS.SubClass_60,MS.SubClass_70,MS.SubClass_80,MS.SubClass_85,MS.SubClass_90,...,Yr.Sold,HasShed,HasAlley,Garage.Age,Remod.Age,House.Age,SqFtPerRoom,Total_Home_Quality,Total_Bathrooms,HighQualSF
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2010.0,False,False,50.0,50.0,50.0,184.0,9.0,2.0,4228.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2010.0,False,False,49.0,49.0,49.0,128.0,9.0,1.0,2598.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2010.0,False,False,52.0,52.0,52.0,147.666667,10.0,1.5,3586.5
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2010.0,False,False,42.0,42.0,42.0,175.833333,10.0,3.5,5536.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2010.0,False,False,13.0,12.0,13.0,162.9,8.0,2.5,3963.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,2006.0,False,False,22.0,22.0,22.0,125.375,10.0,2.0,2801.5
2873,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2006.0,False,False,23.0,23.0,23.0,128.857143,8.0,2.0,2478.0
2874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,2006.0,True,False,28.0,14.0,14.0,121.25,8.0,1.5,2396.0
2875,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2006.0,False,False,31.0,31.0,32.0,173.625,8.0,2.0,3681.5
2876,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2006.0,False,False,13.0,12.0,13.0,153.846154,10.0,2.5,4917.0

In [64]:
datafe = pd.concat([raw, pd.DataFrame([data])], axis=0, ignore_index=True)
top = feature_engineering(datafe)
datafe.tail(5)

NotFittedError: This OneHotEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [62]:
# data = pd.concat([raw, pd.DataFrame([data])], axis=0, ignore_index=True)
result_row = datafe.iloc[-1:]
result_row

,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Lot.Shape,Land.Contour,Lot.Config,Land.Slope,Neighborhood,Bldg.Type,...,Yr.Sold,Sale.Type,Sale.Condition,Condition,HasShed,HasAlley,Exterior,Garage.Age,Remod.Age,House.Age
2877,60,RL,75.0,10000.0,0.0,Lvl,Corner,0.0,Gilbert,1Fam,...,2010.0,GroupedWD,Normal,Norm,False,False,HdBoard,17.0,16.0,17.0

In [63]:
result_row

,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Lot.Shape,Land.Contour,Lot.Config,Land.Slope,Neighborhood,Bldg.Type,...,Yr.Sold,Sale.Type,Sale.Condition,Condition,HasShed,HasAlley,Exterior,Garage.Age,Remod.Age,House.Age
2877,60,RL,75.0,10000.0,0.0,Lvl,Corner,0.0,Gilbert,1Fam,...,2010.0,GroupedWD,Normal,Norm,False,False,HdBoard,17.0,16.0,17.0